@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

$spin-time: 6s;
$circle-size: 50vmin;
$circle-stroke: 2vmin;
$displacement: 0%;
$opacity: 0.7;

.circles {
  z-index: 0;
  height: $circle-size;
  width: $circle-size;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
  transition: all 0.05s ease;
  animation: fade-in 3s ease;

  @include mobile {
    display: none;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(37, 41, 52, 0.1) 100%
  );

  animation: blink 5s linear infinite;
  border: none;
}

.circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: $circle-stroke solid transparent;
  border-radius: 115% 130% 135% 110%/120% 130% 110% 125%;
  mix-blend-mode: screen;

  &:nth-child(1) {
    border-color: rgb(232, 141, 133, $opacity);
    transform-origin: 50% - $displacement 50%;
    animation: spin1 $spin-time linear infinite;
    box-shadow: 0 0 30px rgb(232, 141, 133, $opacity);
  }

  &:nth-child(2) {
    border-color: rgb(239, 214, 143, $opacity);
    transform-origin: 50% 50% + $displacement;
    animation: spin2 $spin-time linear infinite;
    box-shadow: 0 0 30px rgb(239, 214, 143, $opacity);
  }

  &:nth-child(3) {
    border-color: rgb(166, 193, 244, $opacity);
    transform-origin: 50% + $displacement 50%;
    animation: spin3 $spin-time linear infinite;
    box-shadow: 0 0 30px rgb(166, 193, 244, $opacity);
  }

  &:nth-child(4) {
    border-color: rgb(144, 221, 183, $opacity);
    transform-origin: 50% 50% - $displacement;
    animation: spin4 $spin-time linear infinite;
    box-shadow: 0 0 30px rgb(144, 221, 183, $opacity);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(-288deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(-144deg);
  }
  100% {
    transform: rotate(216deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(216deg);
  }
  100% {
    transform: rotate(-144deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: $opacity;
  }
}

@keyframes mobile-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
