@import "@/styles/responsive.scss";
@import "@/styles/variables.scss";

.component {
  position: relative;

  /* desktop & tablet */
  width: 32%;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    margin: 0 0 1rem 0;
    margin-right: 0;
  }

  & > img {
    width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      .projectInfo {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.projectInfo {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 98.5%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: opacity 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: rgb(10, 10, 10);
    font-weight: bold;
  }

  h4 {
    margin-top: 0.25rem;
    color: $sub;
    font-weight: 600;
  }
}

@media (hover: none) {
  .projectInfo {
    visibility: visible;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
  }
}
