@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#container {
  position: relative;
  z-index: 2;

  background: linear-gradient(
    0deg,
    $primary 0%,
    rgb(31, 33, 42) 15%,
    rgb(26, 28, 35) 50%,
    rgb(31, 33, 42) 85%,
    $primary 100%
  );
  height: 85vh;

  @include mobile {
    height: 100vh;
  }
}

#contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  padding-top: calc($navbar-height * 3);
  transition: opacity 0.5s;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding-top: calc($navbar-height * 3);
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#profile-image {
  margin: auto auto;
  border-radius: 100%;
  box-shadow: 0 0 0 5px $sub;

  @include tablet {
    width: 320px;
    height: 320px;
  }

  @include mobile {
    width: 250px;
    height: 250px;
    margin: 3rem auto;
  }
}

#profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  color: white;
  line-height: 1.5rem;

  h3 {
    color: $sub;
    margin-bottom: 0.25rem;
    font-weight: 600;
  }
}

#i-am {
  color: rgba(255, 255, 255, 0.7);

  span {
    color: white;
  }
}

#span-div {
  margin-top: 0.4rem;

  span {
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    text-align: center;
    margin-right: 0.3rem;
    padding: 0.2rem 0.5rem;

    &:hover {
      background-color: rgba(120, 120, 120, 0.2);
    }

    @include mobile {
      margin-right: 0.2rem;
      padding: 0.1rem 0.25rem;
    }
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}
