@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#container {
  position: relative;
  z-index: 2;
  padding: 3vh 0;

  background: linear-gradient(
    0deg,
    $primary 0%,
    rgb(31, 33, 42) 15%,
    rgb(27, 29, 35) 35%,
    rgb(27, 29, 35) 65%,
    rgb(31, 33, 42) 85%,
    $primary 100%
  );

  min-height: 85vh;
}

#contents {
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  height: 70%;
  margin: 0 auto;
  padding-top: calc($navbar-height * 5.2);
  transition: opacity 0.5s;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: calc($navbar-height * 5);
  }

  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: calc($navbar-height * 3);
  }
}

.slide-in-left {
  visibility: visible;
  animation: slide-in-left 0.75s ease-out;

  @include mobile {
    animation: fade-in 0.5s ease-out;
  }

  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.slide-in-right {
  visibility: visible;
  animation: slide-in-right 0.5s ease-out;

  @include mobile {
    animation: fade-in 0.5s ease-out;
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.hidden {
  visibility: hidden;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-div {
  position: relative;
  margin: auto auto;
  width: 160px;
  height: 200px;

  .profile-shadow {
    z-index: -1;
    position: absolute;
    top: -15px;
    left: -15px;
    width: 160px;
    height: 200px;
    background-color: $sub;
  }

  @include tablet {
    margin: auto auto 2rem auto;
  }

  @include mobile {
    margin: 5rem auto 2rem auto;
  }
}

#profile-image {
  margin: auto auto;
}

#profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding-left: 2rem;
  color: white;
  line-height: 1.5rem;

  @include tablet {
    margin: 4rem auto 0 auto;
    padding-left: 1rem;
  }

  @include mobile {
    margin: 2rem auto 0 auto;
    padding-left: 0.5rem;
  }
}

.subheading {
  color: $sub;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

#i-am {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);

  span {
    color: white;
  }
}

#span-div {
  margin-top: 0.5rem;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    max-width: 300px;
  }

  span {
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    text-align: center;
    margin: 0 0.3rem 0.3rem 0;
    padding: 0.1rem 0.5rem;
    font-size: 14px;

    &:hover {
      background-color: rgba(120, 120, 120, 0.2);
    }

    @include mobile {
      margin-right: 0.2rem;
      padding: 0rem 0.3rem;
      font-size: 12px;
    }
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.career-period {
  display: inline-block;
  width: 35%;

  div {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr 1.5fr;

    span {
      text-align: left;
    }
  }
}
