@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: $primary;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200); /* 스크롤바의 색상 */
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5); /*스크롤바 뒷 배경 색상*/
  }
}

@include desktop {
  a {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }
}

@include tablet {
  a {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}

@include mobile {
  a {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
}
