@import "./reset.scss";
@import "./variables.scss";
@import "./responsive.scss";

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "SUITE-Regular" !important;
}

html {
  background: linear-gradient(
    0deg,
    rgba(4, 4, 8, 1) 6%,
    rgba(11, 11, 18, 1) 14%,
    rgba(37, 41, 52, 1) 52%,
    rgba(37, 41, 52, 1) 100%
  );

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $highlight;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
  }

  scroll-behavior: smooth;
}

@include desktop {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4,
  a,
  p,
  span,
  li {
    font-size: 17px;
  }
}

@include desktop125 {
  h1 {
    font-size: 1.625rem;
  }
  h2 {
    font-size: 1.35rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4,
  a,
  p,
  span,
  li {
    font-size: 16px;
  }
}

@include tablet {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4,
  a,
  p,
  span,
  li {
    font-size: 15px;
  }
}

@include mobile {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.05rem;
  }
  h4,
  a,
  p,
  span,
  li {
    font-size: 13px;
  }
}
