$primary: rgb(37, 41, 52);
$secondary: rgb(34, 37, 47);
$highlight: rgba(247, 233, 135, 1);
$sub: rgb(245, 203, 97);

$navbar-height: 50px;

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-style: normal;
}
