@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#lines {
  position: fixed;
  width: 300px;
  height: 120px;
  top: calc(50vh - $navbar-height * 1.5);
  left: calc(50% - 150px);
  text-align: center;
  transition: opacity 1s ease;

  @include mobile {
    width: 250px;
    left: calc(50% - 125px);
  }

  h1 {
    color: white;
    line-height: 2.75rem;
    animation: fade-in 0.5s ease;

    span {
      font-size: 2rem;
      font-weight: bold;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }
}

#ex {
  position: absolute;
  right: 60px;
  animation: bounce 0.2s;
  transform: rotate(10deg);

  @include mobile {
    right: 50px;
  }

  @keyframes bounce {
    0% {
      font-size: 1.8rem;
    }
    50% {
      font-size: 2.45rem;
    }
    100% {
      font-size: 1.8rem;
    }
  }
}

.highlight {
  color: $highlight;
}

#scroll-btn {
  display: flex;
  align-items: center;
  margin: 2rem auto 0 auto;
  padding: 0.5rem 1rem;
  background-color: inherit;
  border: 2px solid white;
  color: white;
  transition: all 0.5s;
  animation: fade-in 0.5s ease;

  &:hover {
    border: 2px solid $sub;
    background-color: $sub;
  }

  #arrow {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 16px;

    @include tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }
}
