@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#container {
  position: relative;
  z-index: 2;

  min-height: 65vh;
  background-color: $primary;
}

#contents {
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top: calc($navbar-height * 4);
  transition: opacity 1.5s;

  @include tablet {
    width: 90%;
  }

  @media screen and (max-width: 900px) {
    width: 70%;
    flex-direction: column;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
