@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#container {
  position: relative;
  z-index: 2;

  min-height: 65vh;
  background-color: $primary;
}

#contents {
  z-index: 5;
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-top: calc($navbar-height * 3.5);
  transition: opacity 0.75s;

  @include tablet {
    width: 95%;
  }

  @include mobile {
    flex-direction: column;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
