@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

.open-btn {
  position: relative;
  margin-top: 2rem;
  padding: 0.3rem 1rem;
  color: rgb(10, 10, 10);
  background: none;
  border: 2px solid $sub;
  transition: color 0.5s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: $sub;
    transition: width 0.3s ease;
  }

  &:hover {
    color: white;

    &::before {
      width: 100%;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade-in 0.25s ease;
  background-color: rgba(0, 0, 0, 0.8);

  /* desktop */
  width: 41%;
  min-width: 550px;
  max-height: 70%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84);
  }

  &::-webkit-scrollbar-track {
    background: rgb(242, 242, 242);
  }

  @include mobile {
    min-width: 95%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-div {
  position: relative;
  width: 100%;

  & > img {
    width: 100%;
    height: 100%;
  }

  & > button {
    position: absolute;
    padding: 0.25rem 1rem;
    color: white;
    background-color: rgba(10, 10, 10, 0.5);
    border: none;
    bottom: 4px;
    font-size: 2rem;
    font-weight: bold;
    transition: background 0.5s ease;

    &:hover {
      background-color: rgba(10, 10, 10, 0.7);
    }
  }

  & > span {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}

.exit {
  position: absolute;
  background: none;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

.text-div {
  padding: 1rem;
  background-color: white;

  .title-div {
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      border: none;
      font-size: 20px;

      @include mobile {
        font-size: 14px;
      }

      &:hover {
        color: gray;
      }
    }
  }

  & > p {
    color: gray;
  }

  h3 {
    color: rgb(10, 10, 10);
    font-weight: bold;
  }

  h4 {
    margin-top: 0.25rem;
    color: $sub;
    font-weight: 600;
  }

  .span-div {
    margin-top: 1rem;

    span {
      background-color: rgba(39, 39, 39, 0.3);
      border-radius: 5px;
      text-align: center;
      padding: 0.2rem 0.5rem;
      margin: 0.5rem 0.3rem 0 0;

      &:hover {
        background-color: rgba(120, 120, 120, 0.2);
      }
    }
  }

  .hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
  }
}

.project-detail {
  p {
    font-weight: bold;
    margin: 2rem 0 1rem 0;
  }
  li {
    margin: 0 0 0.2rem 0.2rem;
  }
}
