@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - $navbar-height);
}
