@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#navbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 80%;
  height: $navbar-height;
  margin: 0 auto;
  background-color: white;

  & > div {
    display: flex;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

#center {
  @include mobile {
    display: none;
  }
}

.normal {
  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: $highlight;
      transition: width 0.6s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
