@import "@/styles/variables.scss";
@import "@/styles/responsive.scss";

#component {
  position: relative;
}

#title {
  position: absolute;
  top: calc($navbar-height * 2);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

#underscore {
  position: absolute;
  top: calc($navbar-height * 2 + 30px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: white;
  width: 60px;
  height: 3px;
  margin: 10px auto 0 auto;
}

.slide-in-left {
  animation: silde-in-left 0.75s ease;

  @keyframes silde-in-left {
    0% {
      opacity: 0;
      transform: translateX(-300px);

      @include mobile {
        transform: translateX(-30px);
      }
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
}

.slide-in-right {
  visibility: visible;
  animation: silde-in-right 0.75s ease;

  @keyframes silde-in-right {
    0% {
      opacity: 0;
      transform: translateX(300px);

      @include mobile {
        transform: translateX(30px);
      }
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
}

.hidden {
  visibility: hidden;
}
