@import "@/styles/responsive.scss";
@import "@/styles/variables.scss";

#component {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(3, 3, 7) 0%, rgb(8, 8, 15) 100%);
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 5px;
    background-color: $primary;
    margin: 0 1rem;

    & > svg {
      font-size: 2.5rem;
      color: white;
    }
  }
}

.p-div {
  margin-top: 4rem;
  text-align: center;

  & > p {
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
}
